# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de build
/dist
/build

# Arquivo de configuração do SendGrid (chave de API)
src/config/sendgrid.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de configuração
.eslintcache
.prettiercache
.vercel
